<h1>Profile Page for <%= @user.username %></h1>

<h3><%= flash[:notice] %></h3>



<hr>

<h4>Decks: </h4>

<ol>
  <% @user.decks.each do |deck| %>
    <img src='https://media-hearth.cursecdn.com/attachments/39/664/cardback_0.png'>
  <% end %>
</ol>

<hr>

<li>
  <%= button_to "Make New Deck", choose_hero_path, method: "get" %>
</li>

<li>
<%= button_to "Log out", logout_path, method: "delete" %>
</li>


<% if @user == current_user %>
  <%= button_to "Delete Account", @user, method: :delete %>
<% end %>
