
<h1>Deck Builder</h1>

<h3>Pick a class ^______________________^</h3>


<div class="class_icons">
  <div class = "class_picture">
    <%= link_to image_tag("druid_face001.png") , new_deck_path(commit: 'Druid', currentdeck: @currentdeck) %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("hunter_face003.png") , new_deck_path(commit: 'Hunter', currentdeck: @currentdeck) %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("mage_face005.png") , new_deck_path(commit: 'Mage', currentdeck: @currentdeck) %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("paladin_face007.png") , new_deck_path(commit: 'Paladin', currentdeck: @currentdeck) %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("priest_face009.png") , new_deck_path(commit: 'Priest', currentdeck: @currentdeck) %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("rogue_face011.png") , new_deck_path(commit: 'Rogue', currentdeck: @currentdeck) %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("shaman_face013.png") , new_deck_path(commit: 'Shaman', currentdeck: @currentdeck) %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("warlock_face015.png") , new_deck_path(commit: 'Warlock', currentdeck: @currentdeck) %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("warrior_face017.png") , new_deck_path(commit: 'Warrior', currentdeck: @currentdeck) %>
  </div>
</div>
