
<h1>Deck Builder</h1>

<h3>Pick a class ^______________________^</h3>



<div style="width: 100%; overflow: hidden;">
  <div style="width: 375px; float: left;">
    <%=image_tag("druid_face001.png")%>
    <%=image_tag("druid_icon002.png")%>
  </div>
  <div style="margin-left: 350px;">
    <%=image_tag("hunter_face003.png")%>
    <%=image_tag("hunter_icon004.png")%>
  </div>
</div>

<div style="width: 100%; overflow: hidden;">
  <div style="width: 375px; float: left;">
    <%=image_tag("mage_face005.png")%>
    <%=image_tag("mage_icon006.png")%>
  </div>
  <div style="margin-left: 350px;">
    <%=image_tag("paladin_face007.png")%>
    <%=image_tag("paladin_icon008.png")%>
  </div>
</div>

<div style="width: 100%; overflow: hidden;">
  <div style="width: 375px; float: left;">
    <%=image_tag("priest_face009.png")%>
    <%=image_tag("priest_icon010.png")%>
  </div>
  <div style="margin-left: 350px;">
    <%=image_tag("rogue_face011.png")%>
    <%=image_tag("rogue_icon012.png")%>
  </div>
</div>

<div style="width: 100%; overflow: hidden;">
  <div style="width: 375px; float: left;">
    <%=image_tag("shaman_face013.png")%>
    <%=image_tag("shaman_icon014.png")%>
  </div>
  <div style="margin-left: 350px;">
    <%=image_tag("warlock_face015.png")%>
    <%=image_tag("warlock_icon016.png")%>
  </div>
</div>

<div style="width: 100%; overflow: hidden;">
  <div style="width: 375px; float: left;">
    <%=image_tag("warrior_face017.png")%>
    <%=image_tag("warrior_icon018.png")%>
  </div>
  <div style="margin-left: 350px;">
    <!-- <%=image_tag("warlock_face015.png")%>
    <%=image_tag("warlock_icon016.png")%> -->
  </div>
</div>
