
<h1>Deck Builder</h1>

<h3>Pick a class ^______________________^</h3>


<div class="class_icons">
  <div class = "class_picture">
    <%= link_to image_tag("druid_face001.png") , new_deck_path(commit: 'Druid') %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("hunter_face003.png") , new_deck_path(commit: 'Hunter') %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("mage_face005.png") , new_deck_path(commit: 'Mage') %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("paladin_face007.png") , new_deck_path(commit: 'Paladin') %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("priest_face009.png") , new_deck_path(commit: 'Priest') %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("rogue_face011.png") , new_deck_path(commit: 'Rogue') %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("shaman_face013.png") , new_deck_path(commit: 'Shaman') %>
  </div>
  <div class = "class_picture">
    <%= link_to image_tag("warlock_face015.png") , new_deck_path(commit: 'Warlock') %>
  </div>
    <%= link_to image_tag("warrior_face017.png") , new_deck_path(commit: 'Warrior') %>
  </div>
</div>
<div style="float: left;">
  <ul>
    <% Deck.last.deck_cards.each do |card| %>
    <% end %>
  </ul>
</div>