<h1>Craft <%=@chosen_class%> Deck</h1>



<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <!--current card display -->
<div class="current_deck">
  <%@currentdeck.deck_cards.uniq{|c| c.card.name}.each do |card| %>
    <div class="card_in_deck">
      <div class="card_name"><%= card.card.name %>
        <div class="count_of_card"><%=@currentdeck.deck_cards.count{|deck_card| card.card.name == deck_card.card.name} %></div>
      </div>
        
    </div>
  <%end%>
</div>

  <!--tabs-->
<div class="tab">
  <button class="tablinks" onclick="openCards(event, '<%= @chosen_class %>')"><%=@chosen_class%></button>
  <button class="tablinks" onclick="openCards(event, 'Neutral')">Neutral</button>
</div>

<!--main div with class card divs-->
<div id=<%= @chosen_class %> class="tabcontent">

    <%@cards.each do |card|%>

      <%= link_to image_tag("#{card.img}", class: "card_img"), build_deck_path(commit: @chosen_class, id: card.id), method: :post %>

  <%end%>
</div>
  <!--div with neutral cards div-->
<div id='Neutral' class='tabcontent'>

    <%@neutral_cards.each do |card|%>
       <%= link_to image_tag("#{card.img}", class: "card_img"), build_deck_path(commit: @chosen_class, id: card.id), method: :post %>
  <%end%>
</div>
