<h1>Craft <%=@chosen_class%> Deck</h1>



<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <!--tabs-->
<div class="tab">
  <button class="tablinks" onclick="openCards(event, '<%= @chosen_class %>')"><%=@chosen_class%></button>
  <button class="tablinks" onclick="openCards(event, 'Neutral')">Neutral</button>
</div>

<!--main div with class card divs-->
<div id=<%= @chosen_class %> class="tabcontent">

    <%@cards.each do |card|%>

      <div class="card_gallery">

      <%= link_to image_tag("#{card.img}", class: "card_img"), build_deck_path(commit:{class:@chosen_class, id: card.id}), method: :post %><br>

      </div>

  <%end%>
</div>
  <!--div with neutral cards div-->
<div id='Neutral' class='tabcontent'>

    <%@neutral_cards.each do |card|%>
      <div class="card_gallery">
       <%= link_to image_tag("#{card.img}", class: "card_img"), build_deck_path(commit:{class:@chosen_class, id: card.id}), method: :post %><br>
      </div>
  <%end%>
</div>
